aiohttp==3.11.12
cryptg==0.5.0.post0
Django==5.1.6
emoji==2.14.1
environs==14.1.1
matplotlib==3.10.0
pandas==2.2.3
pillow==11.1.0
pre_commit==4.1.0
PyQt6==6.8.1
scikit-learn==1.6.1
seaborn==0.13.2
sentence-transformers==3.4.1
Telethon==1.38.1
