aiohttp==3.11.12
cryptg==0.5.0.post0
Django==4.2.6
emoji==2.8.0
environs==11.2.1
matplotlib==3.8.0
openai==0.28.1
pandas==2.2.3
pillow==11.1.0
plotly==5.17.0
pre_commit==4.1.0
scikit-learn==1.6.1
sentence_transformers==3.4.1
sumy==0.11.0
Telethon==1.30.3
tiktoken==0.5.1
